{% extends 'base.html' %}

{% block meta %}
    <meta name="description" content="{{ admin.blog_subtitle }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Category">
    <meta property="og:description" content="{{ admin.blog_subtitle }}">
    <meta property="og:url" content="{{ request.remote_addr }}">
{% endblock %}

{% block title %}{{ category.name }} - {{ admin.blog_title }}{% endblock %}

{% block content %}
    <!-- 巨幕开始 -->
    <div class="jumbotron jumbotron-fluid d-flex align-items-center category-jumbotron" id="categoryJumbotron">
        <h1 class="display-4 col-12">分类 · {{ category.name }}</h1>
    </div>
    <!-- 巨幕结束 -->

    {% include 'blog/_posts_container.html' %}

    {{ super() }}
{% endblock %}

{% block js %}
    {{ super() }}
{% endblock %}