{% extends 'blog/blog_base.html' %}
{% from 'macros.html' import render_posts_container %}

{% block meta %}
    <meta name="description" content="{{ admin.blog_subtitle }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Category">
    <meta property="og:description" content="{{ admin.blog_subtitle }}">
    <meta property="og:url" content="{{ request.remote_addr }}">
{% endblock %}

{% block title %}{{ category.name }} - {{ admin.blog_title }}{% endblock %}

{% block content %}
    <!-- 巨幕开始 -->
    <div class="jumbotron jumbotron-fluid d-flex align-items-center category-jumbotron">
        <h1 class="display-4 col-12">分类 · {{ category.name }}</h1>
    </div>
    <!-- 巨幕结束 -->

    {{ render_posts_container(pagination, admin, 'web.category', name_or_alias=category.tag or category.name) }}

    {{ super() }}
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/totop.js') }}"></script>
{% endblock %}