<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        form {
            margin: 0 auto;
            width: 500px;
            height: 800px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<form action="{{ url_for('index') }}" method="post">
    <h1>注册表单示例</h1>
    {{ form.csrf_token }}
    

    <div class="form-group">
        {{ form.username.label }}
        {{ form.username }}
        {% for error in form.username.errors %}
           <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email }}
        {% for error in form.email.errors %}
           <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.age.label }}
        {{ form.age }}
        {% for error in form.age.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password }}
        {% for error in form.password.errors %}
           <small class="text-danger">{{ error }}</small>
        {% endfor %}

    </div>
    <div class="form-group">
        {{ form.confirm_password.label }}
        {{ form.confirm_password }}
        {% for error in form.confirm_password.errors %}
            <small class="text-danger">{{ error }}</small>
        {% endfor %}
    </div>
    {{ form.submit }}
</form>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>