<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="og:site_name" content="{{ admin.blog_title }}">
    {# 自定义 <meta> 标签 #}
    {% block meta %}{% endblock %}
    {# 自定义 title #}
    <title>{% block title %}{% endblock %}</title>

    <script>
        // 如果 CDN 加载失败，则从本地引入静态资源
        window.addEventListener('error', function (e) {
            if (e) {
                const target = e.target;
                if (target.id === 'bootstrapCss') target.href = "{{ url_for('static', filename='3rd/bootstrap4.4.1.css') }}";
                if (target.id === 'bootstrapJs') target.src = "{{ url_for('static', filename='3rd/bootstrap4.4.1.js') }}";
                if (target.id === 'jquery') target.src = "{{ url_for('static', filename='3rd/jquery_slim3.4.1.js') }}";
                if (target.id === 'popper') target.src = "{{ url_for('static', filename='3rd/popper1.16.0.js') }}";
            }
        }, true)
    </script>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.4.1/css/bootstrap.min.css"
          id="bootstrapCss">
    {# 自定义 CSS 引入 #}
    {% block css %}{% endblock %}
</head>
<body>
{# 自定义导航栏 #}
{% block navbar %}{% endblock %}

{# 自定义主要内容 #}
{% block content %}{% endblock %}

{# 自定义页脚 #}
{% block footer %}{% endblock %}

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.slim.min.js" id="jquery"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" id="popper"></script>
<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.4.1/bootstrap.min.js" id="bootstrapJs"></script>

{# 自定义 JS 引入 #}
{% block js %}{% endblock %}

</body>
</html>